table {
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    background: #fafafa;
    margin: 0 auto;
    width: 80%;
  }
  
  tr:nth-child(even) {
    background: lightgray;
  }

  body{
    margin: 20px;
    text-align: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(120, 179, 247) 0%, rgb(29, 103, 189) 0%, rgb(2, 63, 133) 68%, rgba(0,0,0,1) 100%);
}

  .botao{
    background: rgb(255,255,255);
    background: rgb(0, 90, 224);
    border: 2px solid #000000;
    color: #ffffff;
    padding: 3px;
    font-size: 25px;
    cursor: pointer;
    margin: 18px 0 ;
    box-shadow: 3px 3px 3px #aaa;
}


.menu{
    width: 100%;
    background-color: #ffffff;
    border-radius: 50px;
    margin:  40px 40 ;
}